<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header-css"/>
</head>
<body>

<div th:replace="/fragments/header :: header"/>

<div class="container">
    <!--New Article Form-->
    <form autocomplete="off" action="#" th:action="@{/newArticle}"
          th:object="${article}" method="post" class="mt-5"
          role="form">

        <h2 class="text-center">Write new article</h2>

        <div class="form-group">
            <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                   class="alert alert-danger"></label>
            <input type="text" th:field="*{title}" placeholder="Title"
                   class="form-control"/>
        </div>

        <div class="form-group">
            <label th:if="${#fields.hasErrors('body')}" th:errors="*{body}"
                   class="alert alert-danger"></label>
            <textarea th:field="*{body}" placeholder="Body" rows="10"
                      class="form-control"></textarea>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block" value="Save"/>
        </div>

    </form>
</div>

<div th:replace="/fragments/footer :: footer"/>

</body>
</html>